<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="wrapper">
                <a class="logo" href="/">Planet Fitness Logo</a>
                <ul class="nv-l">
                    <li><a href="/create">Book Session</a></li>
                    <li><a href="/view">View Sessions</a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <ul class="nv">
                    <li><a href="/help">Contact Us!</a></li>
                    <li><a href="/about">About Us</a></li> 
                </ul>
            </div>
        </header>