<%- include('partials/head') %>

<div class="wrapper" style="text-align: center; padding: 50px;"></div>
    <title>About Fitness Co.</title> 
    <body>
        <h1>There are 3 ways to contact us!</h1>
        <h3>Call us on:  0213415713</h3>
        <h3>Contact us at our Bishopstown Branch</h3>
        <h3>Email us!:  FitnessCo@fitness.co.ie</h3>
        <br>
        <a href="/about">Bishopstown Branch Info!</a>
    </body>
</div>

<%- include('partials/foot') %>