<%- include('partials/head') %>

<div class="wrapper" style="text-align: center;"></div>
    <title>About Fitness Co.</title> 
    <body>
        <h1>World Leading Athletes</h1>
        <p>We have 5 World Class Athletes in our Club!</p>
        <p>3 of them at instructors! Feel free to ask them about it</p>
        <br>
        <h2>Availibility for all ages!</h2>
        <p>We take on any and all interested in working out and feeling better!</p>
        <br>
        <h2>Location and opening times!</h2>
        <p>We are located in Bishopstown business park! T12P424</p>
        <p>Contact us if you need any more information or have any questions!</p>
        <br>
        <br>
        <h3>
            <a href="/help">Contact Us!</a>
        </h3>
    </body>
</div>

<%- include('partials/foot') %>